body {
    background: linear-gradient(to bottom, #0a0a2b, #000);
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
    height: 100vh;
}

.main-title {
    font-size: 36px;
    font-weight: bold;
    color: white;
    margin-bottom: 20px;
}

.intro {
    font-size: 18px;
    font-style: italic;
    margin-bottom: 30px;
}
.button {
    background-color: transparent;
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;
    border: 1px solid #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.button:hover {
    background-color: #5d6a7d;
}

#blue {
    color: rgb(155, 155, 234);
}
#yellow {
    color: rgb(245, 245, 151);
}

.main-container{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    gap: 0.5em;
    margin: 0.5em;
}
.assistants-container{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    gap: 0.5em;
    padding: .5rem;
    max-width: 15rem;
    &:hover {
        transform: scale(1.2);
        transition: all .3s ease;
    }
}

.assistant-img{
    width: 100%;
    max-width: 5rem;
}

