    <div id="main-block" class="bg-cover bg-center h-screen bg-[#14121C] bg-[url('static/elige-categoria.png')]">
        <div class="container mx-auto animate__animated animate__fadeIn">
            <div class="flex flex-col items-center">
            <h1 class="text-white text-[80px] font-bold">Hola, <span id="title-user" class="text-[#7EBAFB]"></span></h1>
            <p class="text-slate-400 text-lg">Escoge tu asistente</p>
            
            
            <div class="assistants-container">
                <div class="sage card-asistant">
                    <img src="../static/sage.jfif" alt="Sage Experto profesional" class="assistant-img">
                    <button
                        class="border-[2px] border-white text-lg rounded-lg font-normal text-white px-9 py-2 hover:bg-[#7EBAFB] hover:text-black transition-colors flex items-center" id="sage"
                        hx-get="/chat/start/sage" hx-target="#main-block" hx-swap="outerHTML">Sage 📚</button>
                        <p class="text-slate-400 text-lg">Experto profesional</p>
                    </div>
                    
                    <div class="mark card-asistant">
                        <img src="../static/mark.jfif" alt="Mark Guia turistico" class="assistant-img" >
                        <button
                        class="border-[2px] border-white text-lg rounded-lg font-normal text-white px-9 py-2 hover:bg-[#7EBAFB] hover:text-black transition-colors flex items-center" id="mark"
                        hx-get="/chat/start/mark" hx-target="#main-block" hx-swap="outerHTML">Mark 🗺️</button>
                        <p class="text-slate-400 text-lg">Guia turistico</p>
                    </div>

                    <div class="mentor card-asistant">
                    <img src="../static/mentor.jfif" alt="Mentor Educador Paciente" class="assistant-img">
                    <button
                        class="border-[2px] border-white text-lg rounded-lg font-normal text-white px-9 py-2 hover:bg-[#7EBAFB] hover:text-black transition-colors flex items-center" id="mentor"
                        hx-get="/chat/start/mentor" hx-target="#main-block" hx-swap="outerHTML">Mentor 🎓</button>
                        <p class="text-slate-400 text-lg">Educador Paciente</p>
                </div>

                <div class="arty card-asistant">
                    <img src="../static/Arty.jfif" alt="Arty Entusiasta Creativo" class="assistant-img">
                    <button
                    class="border-[2px] border-white text-lg rounded-lg font-normal text-white px-9 py-2 hover:bg-[#7EBAFB] hover:text-black transition-colors flex items-center" id="arty"
                    hx-get="/chat/start/arty" hx-target="#main-block" hx-swap="outerHTML">Arty 🎨</button>
                    <p class="text-slate-400 text-lg">Entusiasta Creativo</p>
                </div>
                
                <div class="sunny card-asistant">
                    <img src="../static/sunny.jfif" alt="Sunny Asistente Amigable" class="assistant-img">
                    <button
                    class="border-[2px] border-white text-lg rounded-lg font-normal text-white px-9 py-2 hover:bg-[#7EBAFB] hover:text-black transition-colors flex items-center" id="sunny"
                    hx-get="/chat/start/sunny" hx-target="#main-block" hx-swap="outerHTML">Sunny ☀️</button>
                    <p class="text-slate-400 text-lg">Asistente Amigable</p>
                </div>

                <div class="spark card-asistant">
                    <img src="../static/spark.jfif" alt="Spark Compañero Cómico" class="assistant-img">
                    <button
                        class="border-[2px] border-white text-lg rounded-lg font-normal text-white px-9 py-2 hover:bg-[#7EBAFB] hover:text-black transition-colors flex items-center" id="spark"
                        hx-get="/chat/start/spark" hx-target="#main-block" hx-swap="outerHTML">Spark 🎭</button>
                        <p class="text-slate-400 text-lg">Compañero Cómico</p>
                </div>
                
            </div>
        </div>
    </div>
</div>
<script src="../static/asistant.js"></script>
