<div id="main-block">
    <button hx-get="/chat/start/arty" hx-target="#main-block" hx-swap="outerHTML">Arty</button>
    <button hx-get="/chat/start/mark" hx-target="#main-block" hx-swap="outerHTML">Mark</button>
    <button hx-get="/chat/start/mentor" hx-target="#main-block" hx-swap="outerHTML">Mentor</button>
    <button hx-get="/chat/start/sage" hx-target="#main-block" hx-swap="outerHTML">Sage</button>
    <button hx-get="/chat/start/spark" hx-target="#main-block" hx-swap="outerHTML">Spark</button>
    <button hx-get="/chat/start/sunny" hx-target="#main-block" hx-swap="outerHTML">Sunny</button>
</div>