<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/chillroom/backend/static/welcome.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChillRoom</title>
</head>
<body>
    <h1 class="main-title"><span id="blue">Bienvenido</span> a <br> <span id="yellow">ChillRoom</span></h1>
    <p class="intro">La transmisión del conocimiento se transforma en una experiencia apasionante.</p>
    <button class="button" href="/assistants">Explora, aprende y conecta &rarr;</button>
</body>
</html>